@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        max-width: 576px;
        margin: 0 auto;
        background-color: #feffff;
    }
}